<div class="columns">
  <div class="column">
    <div id="add-newprofile" class="button is-primary is-pulled-right">
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
      <span>New Profile</span>
    </div>
  </div>
</div>

<div id="newprofile-modal" class="modal">
  <div class="modal-background"></div>
  <div class="box modal-content">
    <%= form_for(@newprofile, html: { class: 'columns' }) do |f| %>
      <%= f.text_field :name, autofocus: true, class: 'column textinput-h', placeholder: 'Profile Name' %>
      <%= f.text_field :directory_path, class: 'column textinput-h', placeholder: 'Directory Path' %>
      <div class="actions">
        <%= f.submit "Create", class: 'button is-primary button-h' %>
      </div>
    <% end %>
  </div>
  <button class="modal-close"></button>
</div>
