<%= render 'new_profile_form' %>
<div class="columns">
  <table class="table">
    <thead>
      <th>Profile Name</th>
      <th>Files</th>
      <th>Storage</th>
      <th>Last Scan</th>
    </thead>
    <tbody>
      <% @profiles.each do | profile| %>
        <tr>
          <td><%= link_to profile.name, profile_path(profile) %></td>
          <td><%= number_with_delimiter profile.files_count.to_i %></td>
          <td><%= number_to_human_size profile.byte_size.to_i %></td>
          <td><%= profile.scan_end_time %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
