<% content_for :embedded_javascript do %>
  window.current_profile_id = <%= @profile.id %>;
<% end %>

<div id="scan-result" class="columns">
  <div class="column">
    <span class="title"><%= @profile.name %></span>
    <span class="subtitle">scan result:</span>

    <span id="result-text" class="content">
      <strong>0</strong> added, <strong>0</strong> changed, <strong>0</strong> removed.
    </span>
  </div>
  <div class="column is-2">
    <div id="btn-scan" class="button is-primary is-pulled-right">
      <span class="icon">
        <i class="fa fa-refresh"></i>
      </span>
      <span>Scan</span>
    </div>
  </div>
</div>
<div class="columns is-centered has-text-centered">
</div>
<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle">Filter:</p>
    </div>
    <div class="level-item field has-addons">
      <p class="control">
      <a id="btn-filter-new" class="button is-light">
        <span class="icon is-small">
          <i class="fa fa-plus"></i>
        </span>
        <span>new</span>
      </a>
      </p>
      <p class="control">
      <a id="btn-filter-removed" class="button is-light is-active">
        <span class="icon is-small">
          <i class="fa fa-minus"></i>
        </span>
        <span>removed</span>
      </a>
      </p>
      <p class="control">
      <a id="btn-filter-changed" class="button is-light">
        <span class="icon is-small">
          <i class="fa fa-edit"></i>
        </span>
        <span>changed</span>
      </a>
      </p>
      <p class="control">
      <a id="btn-filter-unchanged" class="button is-light">
        <span class="icon is-small">
          <i class="fa fa-square-o"></i>
        </span>
        <span>unchanged</span>
      </a>
      </p>
    </div>
  </div>
  <div class="level-right">
		<p class="control is-expanded">
		<span class="select is-fullwidth">
			<select>
        <% @profile.scans.order('id desc').each_with_index do |sc| %>
          <option><%= "#{sc.scan_hash.unpack('H*')[0][0..8]} (#{sc.end_time})" %></option>
        <% end %>
			</select>
		</span>
		</p>
	</div>
</nav>
<div class="columns">
	<table class="table">
		<thead>
			<th><i class="fa fa-square-o"></i></th>
			<th>File Name</th>
			<th>Size</th>
			<th>Last Modified</th>
		</thead>
		<tbody>
      <% @files.each do |f| %>
        <tr>
          <td></td><td><%= f.path %></td><td><%= number_to_human_size f.byte_size %></td><td><%= f.modified_at %></td>
        </tr>
      <% end %>
		</tbody>
	</table>
</div>
