<div class="columns is-centered container-box-form">
  <div class="column is-one-third-tablet is-one-quarter-desktop">
    <div class="box registration">

      <div class="columns">
        <div class="column title">Edit <%= resource_name.to_s.humanize %></div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="columns">
          <%= f.email_field :email, autofocus: true, class: 'column textinput-v', placeholder: 'Email' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="columns">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="columns">
          <% @placeholder = "Password" %>
          <% if @minimum_password_length %>
            <% @placeholder << " (#{@minimum_password_length} chars min. or leave blank)" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: 'column textinput-v', placeholder: @placeholder %>
        </div>

        <div class="columns">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'column textinput-v', placeholder: 'Password confirmation' %>
        </div>

        <div class="columns">
          <%= f.password_field :current_password, autocomplete: "off", class: 'column textinput-v', placeholder: 'Current password (to confirm changes)' %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "button is-primary" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
