<div class="columns is-centered container-box-form">
  <div class="column is-one-third-tablet is-one-quarter-desktop">
    <div class="box registration">

      <div class="columns">
        <h2 class="column title"> DropSquare Signup</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="columns">
          <%= f.email_field :email, autofocus: true, class: 'column textinput-v', placeholder: 'Email' %>
        </div>

        <div class="columns">
          <% @placeholder = "Password" %>
          <% if @minimum_password_length %>
            <% @placeholder << " (#{@minimum_password_length} chars min.)" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off",
            class: 'column textinput-v', placeholder: @placeholder %>
        </div>

        <div class="columns">
          <%= f.password_field :password_confirmation, autocomplete: "off",
            class: 'column textinput-v', placeholder: 'Confirm Password' %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'button is-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
