<div class="columns is-centered container-box-form">
  <div class="column is-one-third-tablet is-one-quarter-desktop">
    <div class="box">

      <div class="columns">
        <h2 class="column title">Change your password</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="columns">
          <% @placeholder = "Password" %>
          <% if @minimum_password_length %>
            <% @placeholder << " (#{@minimum_password_length} chars min.)" %>
          <% end %>
          <%= f.password_field :password, autocomplete: "off",
            class: 'column textinput-v', placeholder: @placeholder %>
        </div>

        <div class="columns">
          <%= f.password_field :password_confirmation, autocomplete: "off",
            class: 'column textinput-v', placeholder: 'Confirm Password' %>
        </div>


        <div class="actions">
          <%= f.submit "Change my password", class: 'button is-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
