<div class="columns is-centered container-box-form">
  <div class="column is-one-third-tablet is-one-quarter-desktop">
    <div class="box">

      <div class="columns">
      <h2 class="column title">Forgot your password?</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="columns">
          <%= f.email_field :email, autofocus: true, class: 'column textinput-v', placeholder: 'Email' %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'button is-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
