<div class="columns is-centered container-box-form">
  <div class="column is-one-third-tablet is-one-quarter-desktop">
    <div class="box login">

      <div class="columns">
        <h2 class="column title">DropSquare Login</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="columns">
          <%= f.email_field :email, autofocus: true, class: 'column textinput-v', placeholder: 'Email' %>
        </div>

        <div class="columns">
          <%= f.password_field :password, autocomplete: "off", class: 'column textinput-v', placeholder: 'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="columns">
            <div class="column">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'button is-primary' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
