.textinput-v {
    font-size: 1.05em;
    border: none;
    border-bottom: 2px solid;
    margin: 12px 12px 0px 12px;
    padding: 6px 6px 6px 0;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.textinput-h {
    font-size: 1.05em;
    border: none;
    border-bottom: 2px solid;
    margin: 12px;
    padding: 6px 6px 6px 0;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.button-h {
    margin: 12px;
}

.container-box-form {
    margin-top: 15vh;
}
