// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
    margin: 1.25rem;
    max-width: 1000px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    min-height: 100vh;
}

figure.box {
    padding: 3px;

    > img {
        border-radius: 5px;
    }
}

.fix--line-height {
    line-height: 1.2;
}

#result-text {
    margin-right: 0;
    font-weight: 300;
}
