<div class="columns">
  <div class="column is-one-third">
    <div class="columns">
      <div class="column">
        <aside class="menu">
          <p class="menu-label">
          User Menu
          </p>
          <ul class="menu-list">
            <li><%= link_to 'Browse Profile', root_path %></li>
            <li><%= link_to 'Edit User Info', edit_user_registration_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path %></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <div class="column is-two-third">
    <div class="media">
      <div class="media-left">
        <figure class="box image is-128x128">
          <img src="<%= @user.gravatar_url %>"></img>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <div class="title"><%=@user.email%></div>
          <div class="subtitle">Owns <%= @profile_count %> profile(s)</div>
          <div class="columns">
            <div class="column">
              <span class="title"><%= number_with_delimiter @user.total_files_count %></span>
              <span class="subtitle">Files</span>
            </div>
            <div class="column">
              <div class="title"><%= number_to_human_size @user.total_storage_used %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
