<!DOCTYPE html>
<html>
  <head>
    <title>DropSquare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div class="columns is-centered">
      <div class="column main-container">
        <%= render 'user_info' %>
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      <%= yield :embedded_javascript %>
    </script>
  </body>
</html>
